:root{
  font-family: sans-serif;
  font-size: 21px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.square{
  background-color: rgb(31, 148, 66);
  color: rgb(174, 255, 181);
  font-size: 50px;
  font-weight: bolder;
  width: 75px;
  height: 75px;
  line-height: 50px;
  text-align: center;
  box-shadow: black 5px 5px 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  transition: background-color 0.4s;
  float: left;
}

.square:hover{
  background-color: rgb(23, 112, 50);
}

.square-row::after{
  clear: both;
  content: "";
  display: block;
}

.status{
  margin: 10px;
}